<!--Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->

<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>Incredible Business Bootstrap Responsive website Template | Incredible :: w3layouts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8" />
    <meta name="keywords" content="Incredible Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
	SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- Custom Theme files -->
    <link href="css/bootstrap.css" type="text/css" rel="stylesheet" media="all">
    <!-- custom css -->
    <link href="css/incredible.css" type="text/css" rel="stylesheet" media="all">
    <!-- font-awesome icons -->
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <!-- //Custom Theme files -->
    <!-- online-fonts -->
    <link href="//fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
</head>
<body>
    <!-- side nav -->
    <div class="sidenav">
        <!-- header -->
        <header>
            <nav class="navbar navbar-expand-lg navbar-light bg-gradient-secondary pt-3 flex-column">

                <h1>
                    <a class="navbar-brand" href="index.html">Incredible
                    </a>
                </h1>
                <button class="navbar-toggler ml-lg-auto mt-3" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav text-center flex-column">
                        <li class="nav-item active">
                            <a class="nav-link scroll" href="#home">Home
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link scroll" href="#about">about</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link scroll" href="#services">services</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link scroll" href="#features">Features</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link scroll" href="#contact">contact</a>
                        </li>
                    </ul>
                </div>

            </nav>
        </header>
        <!-- //header -->
    </div>
    <!-- //side nav -->
    <div class="main" id="home">
        <!-- banner -->
        <div class="banner-text-w3ls">
            <div class="container">
                <h2>Incredible</h2>
                <p>A Free and Better Way to Make Video Calls</p>
            </div>
        </div>
        <!-- //banner -->
        <!-- about -->
        <section class="wthree-row" id="about">
            <div class="row justify-content-center align-items-center no-gutters abbot-main">
                <div class="col-lg-6 p-0 abbot-right">
                    <div class="card">
                        <div class="card-body px-sm-5 py-3 px-4">
                            <h3 class="stat-title card-title align-self-center">high quality video calls</h3>
                            <span class="w3-line"></span>
                            <p class="card-text align-self-center mt-lg-3 my-3 text-center">
                                Vestibulum volutpat non eros ut vulputate. Nunc id risus accumsan Donec mi nulla,
                                auctor nec sem a fringilla tincidunt nullaAtqui causae gloriatur ius te.</p>
                            <p class="card-text align-self-center my-lg-4 my-3 text-center">Donec mi nulla, auctor nec
                                sem a, ornare auctor mi. Sed mi tortor, commodo a felis in, fringilla
                                tincidunt nulla. Vestibulum  altera fabulas ut quovulputate.</p>
                            <a href="#features" class="btn btn-info abt_card_btn bg-info mx-auto d-block scroll">Know
                                More</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 p-0">
                    <img src="images/about1.jpg" class="img-fluid" alt="" />
                </div>
            </div>
            <div class="row  align-items-center no-gutters abbot-grid2">

                <div class="col-lg-6 p-0">
                    <img src="images/about.jpg" class="img-fluid" alt="" />
                </div>
                <div class="col-lg-6 py-lg-3 px-lg-5 p-sm-5 px-3 py-4 abbot-right">
                    <h3 class="stat-title card-title align-self-center pt-3 text-center"> call all your messenger contacts</h3>
                    <span class="w3-line mx-auto text-center d-block"></span>
                    <ul class="list-group mt-3">
                            <li class="list-group-item border-0">
                                <span class="fa fa-check mr-3"></span>Easy setup</li>
                            <li class="list-group-item border-0">
                                <span class="fa fa-check mr-3"></span>intuitive Statistics</li>
                            <li class="list-group-item border-0">
                                <span class="fa fa-check mr-3"></span>Live Chat Messages</li>
                            <li class="list-group-item border-0">
                                <span class="fa fa-check mr-3"></span>Calendar / Planner</li>
                            <li class="list-group-item border-0">
                        </ul>
                </div>
            </div>
        </section>
        <!-- //about -->
        <!-- about bottom-->
        <section class="wthree-row py-lg-5" id="services">
            <div class="container pt-sm-5">
                <h3 class="stat-title pb-3">See what’s 
                    <span>included </span> in the App</h3>
                <span class="w3-line mx-auto text-center d-block"></span>
                <div class="row pt-5 mt-3 d-flex justify-content-center">
                    <div class="card col-lg-3 col-md-6 border-0">
                        <img class="card-img-top" src="images/s1.jpg" alt="Card image cap">
                        <div class="card-body bg-light">
                            <div class="card-img-top pt-3">
                                <h6>add your text here</h6>
                                <h5 class=" card-title">heading</h5>
                            </div>
                            <p class="card-text mb-3 ">Class aptent taciti sociosqu ad litora torquent per conubia
                                nostra per inceptos himenaeos.</p>
                        </div>
                    </div>
                    <div class="card col-lg-3 col-md-6 border-0 mt-md-0 mt-5">
                        <img class="card-img-top" src="images/s3.jpg" alt="Card image cap">
                        <div class="card-body bg-light">
                            <div class="card-img-top pt-3">
                                <h6>add your text here</h6>
                                <h5 class=" card-title">heading</h5>
                            </div>
                            <p class="card-text mb-3 ">Class aptent taciti sociosqu ad litora torquent per conubia
                                nostra per inceptos himenaeos.</p>
                        </div>
                    </div>
                    <div class="card col-lg-3 col-md-6 border-0 mt-lg-0 mt-5">
                        <img class="card-img-top" src="images/s2.jpg" alt="Card image cap">
                        <div class="card-body bg-light">
                            <div class="card-img-top pt-3">
                                <h6>add your text here</h6>
                                <h5 class=" card-title">heading</h5>
                            </div>
                            <p class="card-text mb-3 ">Class aptent taciti sociosqu ad litora torquent per conubia
                                nostra per inceptos himenaeos.</p>
                        </div>
                    </div>
                    <div class="card col-lg-3 col-md-6 border-0 mt-lg-0 mt-5">
                        <img class="card-img-top" src="images/s4.jpg" alt="Card image cap">
                        <div class="card-body bg-light">
                            <div class="card-img-top pt-3">
                                <h6>add your text here</h6>
                                <h5 class=" card-title">heading</h5>
                            </div>
                            <p class="card-text mb-3 ">Class aptent taciti sociosqu ad litora torquent per conubia
                                nostra per inceptos himenaeos.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- //about bottom -->
        <!--services-->
        <div class="wthree_pvtits-services py-5" id="features">
            <div class="container">
                <h3 class="stat-title pb-3">features</h3>
                <span class="w3-line mx-auto text-center d-block"></span>
                <div class="wthree_pvtits-services-row row pt-5">
                    <div class="col-lg-3 col-md-6 wthree_pvtits-services-grids py-sm-5 py-4">
                        <span class="fa fa-info-circle p-sm-4 p-2"></span>
                        <h4 class="my-3">Statistics</h4>
                    </div>
                    <div class="col-lg-3 col-md-6 wthree_pvtits-services-grids  py-sm-5 py-4">
                        <span class="fa fa-connectdevelop p-sm-4 p-2"></span>
                        <h4 class="my-3">media player</h4>
                    </div>
                    <div class="col-lg-3 col-md-6 wthree_pvtits-services-grids  py-sm-5 py-4">
                        <span class="fa fa-users p-sm-4 p-2"></span>
                        <h4 class="my-3">friends list</h4>
                    </div>
                    <div class="col-lg-3 col-md-6 wthree_pvtits-services-grids   py-sm-5 py-4">
                        <span class="fa fa-thumb-tack p-sm-4 p-2"></span>
                        <h4 class="my-3">Architecture</h4>
                    </div>
                    <div class="col-lg-3 col-md-6 wthree_pvt_service_bottom wthree_pvtits-services-grids  py-sm-5 py-4">
                        <span class="fa fa-cog p-sm-4 p-2"></span>
                        <h4 class="my-3">settings</h4>
                    </div>
                    <div class="col-lg-3 col-md-6 wthree_pvt_service_bottom wthree_pvtits-services-grids  py-sm-5 py-4">
                        <span class="fa fa-map p-sm-4 p-2"></span>
                        <h4 class="my-3">my places</h4>
                    </div>

                    <div class="col-lg-3 col-md-6 wthree_pvt_service_bottom wthree_pvtits-services-grids   py-sm-5 py-4">
                        <span class="fa fa-comment p-sm-4 p-2"></span>
                        <h4 class="my-3">live chat</h4>
                    </div>
                    <div class="col-lg-3 col-md-6 wthree_pvt_service_bottom wthree_pvtits-services-grids   py-sm-5 py-4">
                        <span class="fa fa-plus  p-sm-4 p-2"></span>
                        <h4 class="my-3">much more</h4>
                    </div>
                </div>
            </div>
        </div>
        <!-- //services-->
        <!-- slide -->
        <section class="wthree-row py-sm-5 py-3 slide-bg text-right">
            <div class="container py-md-5 py-3">
                <div class="py-lg-5 bg-pricemain">
                    <h3 class="wthree_pvt-title text-uppercase text-white">heading goes here</h3>
                    <span class="w3-line"></span>
                    <h5 class="wthree_pvt-title text-capitalize pt-4">Just add your content and you're ready to go!
                    </h5>
                    <p class="text-light py-4">Aliquam ac est vel nisl condimentum interdum vel eget enim. Curabitur
                        mattis orci sed leo mattis, nec
                        maximus nibh faucibus. Mauris et justo vel nibh rhoncus venenatis. Nullal condimentum interdum
                        vel
                        eget enim. Curabitur mattis orci sed le.
                    </p>
                    <a href="index.html" class="text-uppercase serv_link align-self-center bg-light btn px-4">read more</a>
                </div>
            </div>
        </section>
        <!-- //slide -->
        <!-- contact -->
        <section class="wthree-row py-lg-5 pt-5 w3-contact" id="contact">
            <div class="container py-md-5">
                <h3 class="stat-title pb-3">support</h3>
                <span class="w3-line mx-auto text-center d-block"></span>
                <div class="contact-form pt-5">
                    <div class="wthree-form-left">
                        <!-- contact form grid -->
                        <div class="d-flex justify-content-center">
                            <div class="contact-top1 col-10 p-0">
                                <form action="#" method="post" class="f-color">
                                    <div class="row form-group">
                                        <div class="col-md-2">
                                            <label for="contactusername">Name</label>
                                        </div>
                                        <div class="col-md-10">
                                            <input type="text" class="form-control" id="contactusername" placeholder="your name"
                                                required>
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-md-2">
                                            <label for="contactemail">Email</label>
                                        </div>
                                        <div class="col-md-10">
                                            <input type="email" class="form-control" id="contactemail" placeholder="your email"
                                                required>
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-md-2">
                                            <label for="contactcomment">Your Message</label>
                                        </div>
                                        <div class="col-md-10">
                                            <textarea class="form-control" rows="5" id="contactcomment" placeholder="your message"
                                                required></textarea>
                                        </div>
                                    </div>
                                    <div class="offset-md-2">
                                        <button type="submit" class="btn btn-info btn-block">Submit</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!--  //contact form grid ends here -->
                    </div>
                    <!-- contact details -->
                    <!-- contact map grid -->
                    <div class="mt-5 map contact-right">
                        <iframe class="h-50" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3023.9503398796587!2d-73.9940307!3d40.719109700000004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25a27e2f24131%3A0x64ffc98d24069f02!2sCANADA!5e0!3m2!1sen!2sin!4v1441710758555"
                            allowfullscreen></iframe>
                    </div>
                    <!--//contact map grid ends here-->
                </div>
                <!-- //contact details container -->
            </div>
        </section>
        <!-- //contact -->
         <!-- footer -->
        <footer class="d-flex footer-w3ls">
            <div class="justify-content-center contact-center mx-auto">
                <div class="address my-sm-5 mb-5 mx-auto text-center contact-g2">
                    <h6 class="text-center">Contact us</h6>
                    <address>
                        <p class="c-txt">90 Street, City, State 34789.</p>
                        <p class="text-white my-2">
                            +10 234 5678</p>
                        <p>
                            <p>
                                <a href="mailto:info@example.com" class="text-white">mail@Incredible.com</a>
                            </p>
                    </address>
                </div>
                <div class="justify-content-center contact-g2 mx-auto">
                    <h6 class="text-center">Follow us</h6>
                    <div class="address-grid text-center">
                        <ul class="social-icons3">

                            <li>
                                <a href="#" class="s-iconfacebook">
                                    <span class="fa fa-facebook-f"></span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="s-icontwitter">
                                    <span class="fa fa-twitter"></span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="s-icondribbble">
                                    <span class="fa fa-dribbble"></span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="s-iconbehance">
                                    <span class="fa fa-behance"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="subscribe-grid">
                    <p>subscribe To receive helpful articles, customer alerts,services & more.</p>
                    <form action="#" method="post">
                        <input type="email" placeholder="Your Email" name="Subscribe" required="">
                        <button class="btn1">
                            <span class="fa fa-paper-plane"></span>
                        </button>
                    </form>
                </div>
            </div>
        </footer>       
        <div class="cpy-right text-center py-4 bg-dark">
            <p class="text-white">© 2018 Incredible. All rights reserved | Design by
                <a href="http://w3layouts.com"> W3layouts.</a>
            </p>
        </div>
        <!-- /Footer -->
    </div>
    <!-- js -->
    <script src="js/jquery-2.2.3.min.js"></script>
    <!-- //js -->
    <!-- start-smooth-scrolling -->
    <script src="js/easing.js "></script>
    <script>
        jQuery(document).ready(function ($) {
            $(".scroll ").click(function (event) {
                event.preventDefault();

                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 1000);
            });
        });
    </script>
    <!-- //end-smooth-scrolling -->
    <!-- start-smooth-scrolling -->
    <script src="js/move-top.js"></script>
    <script>
        $(document).ready(function () {
            /*
             var defaults = {
                 containerID: 'toTop', // fading element id
                 containerHoverID: 'toTopHover', // fading element hover id
                 scrollSpeed: 1200,
                 easingType: 'linear' 
             };
             */

            $().UItoTop({
                easingType: 'easeOutQuart'
            });
        })
        jQuery(document).ready(function ($) {
            $(".scroll ").click(function (event) {
                event.preventDefault();

                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 1000);
            });
        });
    </script>
    <script src="js/SmoothScroll.min.js "></script>
    <!-- //smooth-scrolling-of-move-up -->
    <!-- Bootstrap core JavaScript
        === === === === === === === === === === === === === === === == -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/bootstrap.js"></script>
</body>

</html>