
<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>Diversity Multipurpose Flat Bootstrap Responsive website Template | Home :: w3layouts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8" />
    <meta name="keywords" content="Diversity Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
	SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- Custom Theme files -->
    <link href="css/bootstrap.css" type="text/css" rel="stylesheet" media="all">
    <!-- custom css -->
    <link href="css/style.css" type="text/css" rel="stylesheet" media="all">
    <!-- font-awesome icons -->
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <!-- //Custom Theme files -->
    <!-- online-fonts -->
    <link href="//fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
</head>

<body>
    <!-- banner -->
    <section class="banner d-flex flex-column justify-content-center align-items-center">
        <h1><a href="index.html" class="logo-wthreepvt">diversity</a></h1>
        <h2 class="home-banner-w3">4 variants of demo-content and stylization at your service! </h2>
        <a class="btn btn-primary mt-4 wthree-link-bnr scroll" href="#about" role="button">View
            More</a>
    </section>
    <!-- //banner -->
    <!-- about -->
    <section class="about-wthree" id="about">
        <div class="container">
            <div class="home-features-list text-center">
                <h3 class="text-center">Template Features</h3>
                <div class="row">
                    <div class="col-lg-4 col-md-6 feature-list">
                        <h5>Fully Responsive </h5>
                    </div>
                    <div class="col-lg-4 col-md-6 feature-list">
                        <h5> Built with valid HTML5 and CSS3</h5>
                    </div>
                    <div class="col-lg-4 col-md-6 feature-list">
                        <h5>Bootstrap4 Framework</h5>
                    </div>
                    <div class="col-lg-4 col-md-6 feature-list">
                        <h5>4 variants</h5>
                    </div>
                    <div class="col-lg-4 col-md-6 feature-list">
                        <h5>Multi color theme</h5>
                    </div>
                    <div class="col-lg-4 col-md-6 feature-list">
                        <h5>scroll to fixed header</h5>
                    </div>
                    <div class="col-lg-4 col-md-6 feature-list">
                        <h5>Easy to Use/Customize</h5>
                    </div>
                    <div class="col-lg-4 col-md-6 feature-list">
                        <h5>Clean and Commented code</h5>
                    </div>
                    <div class="col-lg-4 col-md-6 feature-list">
                        <h5> Screenshot view</h5>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- //about -->
    <!-- screens -->
    <section class="screens-home-grid about-wthree">
        <div class="container">
            <h3 class="text-center">Pick the one you love and customize it</h3>
            <div class="row">
                <div class="col-lg-10 mx-auto">
                    <div class="row">
                        <div class="col-lg-6 mb-lg-0 mb-4">
                            <div class="screen-grid-wthree-pvt">
                                <a href="cookster.html" target="_blank"><img src="screens/cookster.jpg" class="img-fluid"
                                        alt="screen-img" /></a>
                            </div>
                            <div class="demo-title text-center">
                                <h4><a href="cookster.html" target="_blank">cookster</a></h4>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="screen-grid-wthree-pvt">
                                <a href="aasana.html" target="_blank"><img src="screens/aasana.jpg" class="img-fluid"
                                        alt="screen-img" /></a>
                            </div>
                            <div class="demo-title text-center">
                                <h4><a href="aasana.html" target="_blank">aasana</a></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-lg-10 mx-auto">
                    <div class="row">
                        <div class="col-lg-6 mb-lg-0 mb-4">
                            <div class="screen-grid-wthree-pvt">
                                <a href="incredible.html" target="_blank"><img src="screens/incredible.jpg" class="img-fluid"
                                        alt="screen-img" /></a>
                            </div>
                            <div class="demo-title text-center">
                                <h4><a href="incredible.html" target="_blank">incredible</a></h4>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="screen-grid-wthree-pvt">
                                <a href="brand.html" target="_blank"> <img src="screens/brand.jpg" class="img-fluid"
                                        alt="screen-img" /></a>
                            </div>
                            <div class="demo-title text-center">
                                <h4><a href="brand.html" target="_blank">brand</a></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- //screens -->
    <!-- slide -->
    <section class="banner slide-banner d-flex flex-column justify-content-center align-items-center">
        <h5 class="text-center">follow our website for best themes to meet any need!</h5>
        <a href="http://w3layouts.com" class="btn btn-primary mt-4 wthree-link-bnr" target="_blank">view more</a>
    </section>
    <!-- //slide -->
    <!-- description -->
    <section class="single_grid_w3_main about-wthree">
        <div class="container">
            <div class="row sec-space">
                <div class="col-lg-6">
                    <div class="single_grid_w3 single_grid_w31">

                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="single_grid_text">
                        <span class="wthree-line"></span>
                        <h6>cookster</h6>
                        <p>Food category flat boostrap template<br>with Scroll To Fixed Header</p>

                        <a class="btn btn-primary mt-4 wthree-link-bnr" href="cookster.html" role="button">preview
                        </a>
                    </div>
                </div>
            </div>
            <div class="row flex-row-reverse sec-space">
                <div class="col-lg-6">
                    <div class="single_grid_w3 single_grid_w32">

                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="single_grid_text">
                        <span class="wthree-line"></span>
                        <h6>aasana</h6>
                        <p>Fitness category flat boostrap template<br>with unique design</p>

                        <a class="btn btn-primary mt-4 wthree-link-bnr" href="aasana.html" role="button">preview
                        </a>
                    </div>
                </div>
            </div>
            <div class="row sec-space">
                <div class="col-lg-6">
                    <div class="single_grid_w3 single_grid_w33">

                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="single_grid_text ">
                        <span class="wthree-line"></span>
                        <h6>Incredible</h6>
                        <p>Business category flat boostrap template<br>with fixed side nav </p>

                        <a class="btn btn-primary mt-4 wthree-link-bnr" href="incredible.html" role="button">preview
                        </a>
                    </div>
                </div>
            </div>
            <div class="row flex-row-reverse sec-space">
                <div class="col-lg-6">
                    <div class="single_grid_w3 single_grid_w34">

                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="single_grid_text">
                        <span class="wthree-line"></span>
                        <h6>Brand</h6>
                        <p>Multipurpose flat boostrap template<br>with multicolor scheme</p>

                        <a class="btn btn-primary mt-4 wthree-link-bnr" href="brand.html" role="button">preview
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- //description -->
    <!-- footer -->
    <footer class="cpy-right text-center">
        <p class="text-white">© 2018 Diversity. All rights reserved | Design by
            <a href="http://w3layouts.com"> W3layouts.</a>
        </p>
    </footer>
    <!-- //footer -->
    <!-- js -->
    <script src="js/jquery-2.2.3.min.js"></script>
    <!-- //js -->
    <!-- start-smooth-scrolling -->
    <script src="js/move-top.js"></script>
    <script src="js/easing.js"></script>
    <script>
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();

                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 1000);
            });
        });
    </script>
    <!-- //end-smooth-scrolling -->
    <!-- smooth-scrolling-of-move-up -->
    <script>
        $(document).ready(function () {
            /*
            var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear' 
            };
            */
            $().UItoTop({
                easingType: 'easeOutQuart'
            });

        });
    </script>
    <script src="js/SmoothScroll.min.js"></script>
    <!-- //smooth-scrolling-of-move-up -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/bootstrap.js"></script>
</body>

</html>